// stylelint-disable declaration-no-important

.sibling-navigation {
    &__container {
        border-top: .12rem dashed $accent-light;
    }

    &__items {
        justify-content: center;
    }

    &__item {
        padding-right: 1.85rem !important;
        padding-left: 1.85rem !important;
        border-width: .12rem !important;
        border-color: $accent-mid !important;
        font-family: $family-tertiary !important;
        font-size: .83333rem !important;
        font-weight: 400 !important;

        &.is-current {
            &:focus {
                outline-color: $primary;
            }
        }
    }
}
