.site-header {
    &__nav {
        background-color: $color-accent !important;
    }
}

.primary-nav {
    font-family: $family-tertiary;

    .navbar-item {
        .navbar-dropdown-control {
            > .dropdown-toggler {
            }

            .icon {
                fill: $accent-light;
            }
        }

        &:hover,
        &:focus {
            text-decoration: none !important;
        }

        &.current-menu-item,
        &.current-menu-parent {
        }
    }

    .navbar-item__single > a {
        color: $white;

        &:hover,
        &:focus {
            color: $white !important;
        }
    }

    > .navbar-item,
    > .has-dropdown > div > .navbar-link {
        color: $white;
        font-family: $family-tertiary !important;
        font-weight: 400;
        text-transform: none;

        &:hover,
        &:focus {
            color: $white;
        }
    }

    > .has-dropdown {
        &.is-active,
        &:hover,
        &:focus {
            > div > .navbar-link {
            }
        }
    }

    &--dropdown {
        .has-dropdown {
        }

        .dropdown-toggler {
        }

        .navbar-dropdown {
            background-color: $color-vesi-white;

            &__parent-link {
                display: none !important;
            }

            .icon {
                fill: $accent-light;
            }
        }

        .navbar-grid {
            font-family: $family-primary;

            .navbar-item {
                color: $color-blackish;
                font-weight: 300 !important;
                border-color: $accent-light;

                &:hover,
                &:focus {
                    color: $primary;
                    text-decoration: underline !important;
                }

                &.current-menu-item {
                    color: $color-blackish;
                }
            }
        }
    }
}
