@import "functions";

// All Tampere brand colors
$color-white: #fff;
$color-black: #000;

// Override Bulma
$white: $color-white;
$black: $color-black;

$color-vesi-white: #edf7fc;
$color-blackish: #0b2237;
$color-vaalean-harmaa: #bebfbf;
$color-tumma-harmaa: #585857;

$color-accent: #29549a;
$accent-mid: #668ec9;
$accent-light: #a3cdef;
