// stylelint-disable declaration-no-important

.layout-articles {
    @include from(1630px) {
        background-image: url(../images/frame-1.png);
        background-repeat: no-repeat;
        background-position: 99% 0;
    }

    @include from(1680px) {
        background-position: 98% 10%;
    }

    .highlight-article {
        h2 {
            a {
                color: $color-blackish !important;
            }
        }
        
        &__fields {
            @include until($tablet) {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-right: 0 !important;
                padding-bottom: 0 !important;
                padding-left: 0 !important;

                .pill {
                    order: 3;
                    margin-top: 1.5rem;
                }

                .entry__excerpt {
                    color: $text !important;
                    font-size: 85%;

                    span {
                        display: inline-block !important;
                    }
                }
            }
        }
    }

    .entry {
        &__title {
            > a {
                color: $color-blackish;
            }
        }

        &__excerpt {
            > span {
                font-weight: 800 !important;
            }

        }
    }
}
