// stylelint-disable declaration-no-important

.layout-articles {
    @include from(1630px) {
        background-image: url(../images/frame-1.png);
        background-repeat: no-repeat;
        background-position: 99% 0;
    }

    @include from(1680px) {
        background-position: 98% 10%;
    }
}

.blog,
.layout-articles {
    .entry {
        &--list {
            padding-bottom: 2rem;
            border-bottom: 1px solid $accent-light;
        }

        &__title {
            > a {
                color: $color-blackish;
            }
        }

        &__excerpt {
            > span {
                font-weight: 800 !important;
            }
        }
    }
}
